{% load playground_tags %}

{% if user.is_authenticated %}
<button class="btn btn-outline-success" data-playground-id="{{ playground.id }}" onclick="toggleFavorite(this, '{{ playground.id }}')">
    {% is_favorite playground user as is_fav %}
    {% if is_fav %}
        お気に入り解除
    {% else %}
        お気に入りに追加
    {% endif %}
</button>
{% else %}
<button class="btn btn-outline-success" data-playground-id="{{ playground.id }}" disabled title="ログインするとお気に入り機能が使えます">
    お気に入りに追加
</button>
{% endif %}
