# .env.example
# 開発環境で使用する場合は、このファイルを .env にコピーして、必要な値を設定してください。

# Django 設定
## シークレットキーはDjangoのコマンドで作れます。
## python3 -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=django-insecure-example-key
DEBUG=True

# データベース設定 (Docker Compose用)
POSTGRES_DB=kidsplayground_db
DB_USER=kina
DB_PASSWORD=kina_password

# 本番環境設定
PRODUCTION_DOMAIN=kidsplayground.onrender.com
RENDER_DATABASE_URL=
