# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
      - id: black
        files: \.py$
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        args: [myapp, mysite, users]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
        files: \.py$
        additional_dependencies: [django-stubs==5.0.0, mypy-extensions==1.1.0, python-dotenv==1.0.1, dj-database-url==2.1.0, django-bootstrap4==24.4, django-crontab==0.7.1, django-allauth==0.61.1, psycopg2-binary==2.9.9, types-requests, django-csp]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
      - id: bandit
        args: ["-c", "bandit.yaml"]
        files: \.py$
