services:
  db:
    image: postgres:17.5
    container_name: kidsplayground_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kina -d kidsplayground_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: kidsplayground_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${POSTGRES_DB}
      SECRET_KEY: ${SECRET_KEY} # Assuming SECRET_KEY is set in the host's .env or environment
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
