aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.10.0
asgiref==3.8.1
bandit==1.8.6
beautifulsoup4==4.12.3
black==25.1.0
boolean.py==5.0
Brotli==1.1.0
CacheControl==0.14.3
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.2.1
cryptography==45.0.7
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
distlib==0.4.0
dj-database-url==2.1.0
Django==5.1.15
django-allauth==0.61.1
django-bootstrap4==24.4
django-crontab==0.7.1
django-stubs==5.0.0
django-stubs-ext==5.2.2
ffmpy==0.6.1
filelock==3.19.1
flake8==7.3.0
fsspec==2025.9.0
groovy==0.1.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.14
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
license-expression==30.4.4
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.1
mypy==1.10.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.2
oauthlib==3.3.1
orjson==3.11.3
packageurl-python==0.17.5
packaging==24.2
pandas==2.3.2
pathspec==0.12.1
pillow==11.3.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
pluggy==1.5.0
playwright==1.56.0
pre_commit==4.3.0
psycopg2-binary==2.9.9
py-serializable==2.1.0
pycodestyle==2.14.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.5
pytest==8.3.5
pytest-django==4.11.0
pytest-dotenv==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.1.0
ruff==0.12.12
safehttpx==0.1.6
schedule==1.2.2
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.3
starlette==0.47.3
stevedore==5.5.0
toml==0.10.2
tomlkit==0.13.3
tqdm==4.67.1
typer==0.17.4
types-PyYAML==6.0.12.20250822
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.0
uvicorn==0.35.0
virtualenv==20.34.0
websockets==15.0.1
whitenoise==6.7.0
