body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.highlight {
    background-color: yellow;
}

.mb-4 {
    margin-bottom: 1.5rem; /* Bootstrapのmb-4クラスと同じ */
}

.modal-content {
    border-radius: 10px;
}

/* ボタンを縦に並べる */
.card-body .btn {
    display: block; /* ボタンをブロック要素にする */
    width: 100%;    /* ボタンの幅を100%にする */
    margin-bottom: 10px; /* ボタン間の余白を設定 */
}

/* Header */
.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #333;
    font-weight: 500;
}

.nav-link:hover {
    color: #007bff;
}

/* Footer */
footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.detail-item {
    text-decoration: underline;
}
