{% extends "base.html" %}
{% load i18n %}

{% block title %}パスワードの変更{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include "accounts/_left_menu.html" %}
    </div>
    <div class="col-md-9">
        <h1 class="my-4">パスワードの変更</h1>
        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action_add" class="btn btn-primary">パスワードを変更</button>
        </form>
    </div>
</div>
{% endblock %}
