{% extends "base.html" %}
{% load i18n %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
                <h1 class="my-4 text-center">パスワードリセット</h1>
        <div class="card">
            <div class="card-body">
                <p>パスワードをお忘れですか？以下にメールアドレスを入力してください。パスワードをリセットするためのメールを送信します。</p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-block" type="submit">パスワードをリセット</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
